*{margin: 0; padding: 0;}
ul,ol{list-style: none; padding: 0;}
a{text-decoration: none;}
img{border: 0;}
p{margin: 0;}

.timesale{
    margin: 0 0 50px;
}
.timesale p{
    border: 1px solid #e0e0e0;
    text-align: left;
    padding-left: 30px;
    line-height: 60px;
}

/* 상품정보 */
.container .row{
    margin: 80px 0 0;
}
.container .row .info{ padding-left: 80px; text-align: left;}
.container .row .info h4{
    font-size: 2rem;;
    font-weight: bold;    
}
.container .row .info .productInfo{
    margin: 30px 0;
    color: #858585;
    font-size: .95rem;
}
.container .row .info .price{
    margin: 0 0 40px;
    font-size: 1.4rem;
    font-weight: bold;
}
.detailOpt {    
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
}
.detailOpt tr th{
    width: 65px;
    padding: 15px 0;
    font-size: .85rem;
}
.detailOpt tr td{
    font-size: .85rem;
}

/* 옵션가격 */
.innerPrice{
    position: relative;
    padding: 15px;
    margin: 20px 0;
    background: #f0f0f0;
}
.innerPrice .innerPriceName {
    margin: 0 0 10px;
    font-size: .85rem;
}
.innerPrice .MK_qty-ctrl{
    position: relative;
    width: 110px;
    height: 35px;
    border: 1px solid #ccc;
}
.innerPrice .MK_qty-ctrl input{
    width: 48px;
    height: 33px;
    margin-left: 30px;
    border: 0;
    text-align: center;
}
.innerPrice .MK_qty-ctrl button{
    position: absolute;
    border: 0;
    width: 30px;
    height: 33px;
    background: #fff;
}
.innerPrice .MK_qty-ctrl button.plus{
    right: 0;
}
.innerPrice .MK_qty-ctrl button.minus{
    left: 0;
}
.innerPrice .innerPrice_basic{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-8px);
    font-size: 1.1rem;
}
.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

/* 장바구니 */
.cartBtn {
    width: 100%;
    background: #242424;
    border: 0;
    height: 45px;
    line-height: 46px;
    border-radius: 0;
    color: #fff;
    font-size: .9rem;
}
.cartBtn:hover{
    background: #000;
}
.backBtn{
    width: 100%;
    height: 45px;
    margin: 10px 0 0;
    background: #fff;
    border: 1px solid #ccc;
    line-height: 46px;
    border-radius: 0;
    font-size: .9rem;
}
.backBtn:hover{
    border: 1px solid #000;
}
/* 탭 */
.bold{
    font-weight: bold;
}
.tabWrap{    
    border-top: 1px solid #e6e6e6;
    margin: 60px 0 0;
}
.tabWrap ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0 0;
}
.tabWrap ul li{
    height: 15px;
    line-height: 15px;
    padding: 0 30px 0;
    border-right: 1px solid #ccc;
    cursor: pointer;
}
.tabInfo{
    height: 600px;
    margin: 100px 0 0;
}
.start{
    opacity: 0;
}
.end {
    opacity: 1;
    transition: all 0.5s;
}